[Unit]
Description=Maestro Component {{.ContainerName}}
After=docker.service
After=violino.service
Requires=violino.service

[Service]
TimeoutStartSec=0
{{if .Volumes}}ExecStartPre=-/usr/bin/mkdir -p {{.VolumesDir}}{{end}}
ExecStartPre=-/usr/bin/docker kill {{.ContainerName}}
ExecStartPre=-/usr/bin/docker rm {{.ContainerName}}
ExecStartPre=-/usr/bin/docker pull {{.Src}}
ExecStart=/usr/bin/docker run {{if not .KeepOnExit}}--rm {{end}}--name {{.ContainerName}} {{if .DockerArgs}}{{.DockerArgs}}{{end}} \
{{range .Ports}}--expose {{.}} {{end}}{{range .Volumes}}-v {{.}} {{end}}{{range .Env}}-e {{.}} {{end}} \
-e MAESTRO_NODE=%H -e MAESTRO_USERNAME={{.Username}} -e MAESTRO_STAGE={{.Stage}} -e MAESTRO_APP={{.App}} -e MAESTRO_COMPONENT={{.Name}} \
-e MAESTRO_ID={{if gt .Scale 1}}%i{{else}}1{{end}} -e MAESTRO_FRONTEND={{if .Frontend}}{{.Frontend}}{{end}} \
-e MAESTRO_DNS={{if .DNS}}{{.DNS |cutDomain}}{{end}} -e MAESTRO_GLOBAL={{if .Global}}{{.Global}}{{end}} \
{{.Src}} {{.Cmd}}
ExecStop=/usr/bin/docker stop {{.ContainerName}}

[Install]
WantedBy=multi-user.target

[X-Fleet]
{{if .Global}}Global=true{{end}}{{if .Single}}Conflicts={{.Username}}_{{.Stage}}_{{.App}}_{{.Component}}@*{{end}}
