[Unit]
Description=Maestro Container Builder for {{.UnitName}}
After=docker.service
After=violino.service
Requires=violino.service

[Service]
TimeoutStartSec=0
Type=oneshot
RemainAfterExit=false
ExecStartPre=/usr/bin/mkdir -p /opt/maestro/containers/{{.Username}}/{{.Stage}}/{{.App}}/{{.Name}}
ExecStartPre=-/usr/bin/git clone {{.GitSrc}} /opt/maestro/containers/{{.Username}}/{{.Stage}}/{{.App}}/{{.Name}}
ExecStartPre=-/bin/bash -c "cd /opt/maestro/containers/{{.Username}}/{{.Stage}}/{{.App}}/{{.Name}} && git pull"
ExecStart=/usr/bin/docker build -t {{.Src}} /opt/maestro/containers/{{.Username}}/{{.Stage}}/{{.App}}/{{.Name}}
ExecStartPost=/usr/bin/docker push {{.Src}}

[Install]
WantedBy=multi-user.target
